:root {
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

#canvas {
    width: 100vw;
    height: 100vh;

    background-color: rgb(161, 210, 230);

    object-fit:cover;

    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#text {
    width: min(90vw,750px);
    height: min-content;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    user-select: none;

    white-space: pre-wrap;
}

body, #canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.text-wrapper, .inventory {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.inventory {
    align-items: end;
    height: calc(100vh - 20px);
}

.slot {
    width: 64px;
    height: 64px;

    margin: 5px;
    margin-bottom: 0;

    background: rgb(150,150,150);

    border: solid rgb(100,100,100) 5px;
    border-bottom: solid rgb(50,50,50) 5px;

    user-select: none;
}

.slot-img {
    height: 64px;
    width: 64px;

    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.slot > span {
    position: relative;
    top: -60px;
    left: 4px;
    color: white;
    font-weight: bold;
}